@use "styles/variables" as *;

.gallery {
  img {
    cursor: pointer;
  }
  div {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    gap: 15px;
  }
  @media (max-width: $screen-micro-max) {
    figure {
      padding: 0 15px;
    }
  }
}
