---
interface Props {
  identifier: string;
}

const { identifier } = Astro.props;

declare global {
  interface Window {
    disqus_config: (this: {
      page: { url: string; identifier: string };
    }) => void;
  }
}
---

<div id="disqus_thread" data-identifier={identifier}></div>
<script>
  window.disqus_config = function () {
    let data = document.getElementById("disqus_thread")!.dataset;
    this.page.url = "https://richsnapp.com" + location.pathname;
    this.page.identifier = data.identifier!;
  };
  (function () {
    var d = document,
      s = d.createElement("script");
    s.src = "https://richsnapp.disqus.com/embed.js";
    s.setAttribute("data-timestamp", String(+new Date()));
    (d.head || d.body).appendChild(s);
  })();
</script>
