---
declare global {
  interface Window {
    __sharethis__?: {
      meta?: Record<string, string>;
      initialize: () => void;
      href?: string;
    };
  }
}
---

<div class="sharethis-bar">
  <button class="btn st-custom-button twitter" data-network="twitter">
    <i class="fa-brands fa-twitter"></i>
  </button>
  <!-- TODO: add bluesky -->
  <button class="btn st-custom-button reddit" data-network="reddit">
    <i class="fa-brands fa-reddit-alien"></i>
  </button>
  <button class="btn st-custom-button facebook" data-network="facebook">
    <i class="fa-brands fa-facebook"></i>
  </button>
  <button class="btn st-custom-button linkedin" data-network="linkedin">
    <i class="fa-brands fa-linkedin"></i>
  </button>
  <button class="btn st-custom-button sms visible-xs" data-network="sms">
    <i class="fa fa-comment"></i>
  </button>
</div>

<style lang="less">
  @import (reference) "styles/variables.less";

  .sharethis-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    & > * {
      flex: 1 1 auto;
    }

    @media (max-width: @screen-sm-max) {
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    button {
      color: #fff;
      margin-top: 12px;
      width: 50px;
      opacity: 0.75;

      @media (max-width: @screen-sm-max) {
        margin-top: 0 !important;
        margin-left: 10px;
        &:last-child {
          margin-right: 10px;
        }
      }

      &:hover,
      &:active,
      &:focus {
        color: #fff;
        opacity: 1;
      }
      &:first-child {
        margin-top: 10px;
      }
      &.twitter {
        background-color: #55acee;
      }
      &.bluesky {
        background-color: #0085ff;
      }
      &.facebook {
        background-color: #3b5998;
      }
      &.email {
        background-color: #7d7d7d;
      }
      &.sms {
        background-color: #5bc236;
      }
      &.linkedin {
        background-color: #0077b5;
      }
      &.reddit {
        background-color: #ff4500;
      }
    }
  }
</style>

<script
  is:inline
  src="https://platform-api.sharethis.com/js/sharethis.js#property=5a5a8ac7032b920011311069&product=custom-share-buttons"
></script>
<script>
  import { getCanonicalUrl } from "utils/links";

  if (window.__sharethis__ && window.__sharethis__.meta) {
    window.__sharethis__.meta = Array.from(
      document.querySelectorAll("meta[name], meta[property]"),
    ).reduce(
      (memo, meta) => {
        if (meta instanceof HTMLMetaElement) {
          const key = meta.name || meta.getAttribute("property");
          if (key) {
            memo[key] = meta.content;
          }
        }
        return memo;
      },
      {} as Record<string, string>,
    );
    window.__sharethis__.initialize();
    let url = getCanonicalUrl();
    if (url) {
      window.__sharethis__.href = url;
    } else {
      console.error("no canonical URL found for ShareThis");
    }
  }
</script>
