---
import DefaultLayout from "./DefaultLayout.astro";

interface Props {
  title?: string;
  frontmatter?: {
      title: string;
  }
}

const { title, frontmatter } = Astro.props;
const displayTitle = title || frontmatter?.title;
---

<style lang="less">
  header {
    display: flex;
    justify-content: center;
  }
</style>
<DefaultLayout title={displayTitle}>
    {displayTitle &&
        <div class="row" :class="{ 'hidden-xs': hideTitle, 'hidden-sm': hideTitle }">
            <header class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-10">
                <h1>{displayTitle}</h1>
            </header>
        </div>
    }
    <div class="row">
        <div class="col-md-offset-2 col-md-10 md-clear">
            <slot />
        </div>
    </div>

</DefaultLayout>
