---
import BaseHead from "./shared/BaseHead.astro";
import type { ImageMetadata } from "astro";

interface Props {
  title?: string;
  tags?: string[];
  tldr?: string[];
  image?: ImageMetadata;
}

const { title, image } = Astro.props;
const { pathname } = Astro.url;

const currYear = new Date().getFullYear();
---

<html>
  <head>
    <BaseHead title={title} image={image} />
    <style lang="less">
      body {
        .page > footer {
          padding: 20px 0;
          height: 60px;
        }
        .wrapper {
          min-height: 100%;
          margin-bottom: -60px;
          .push {
            height: 60px;
          }
        }
      }
    </style>
  </head>
  <body>
    <div class="page">
      <div class="wrapper container">
        <slot />
        <div class="push"></div>
      </div>
      <footer>
        All Rights Reserved © {currYear}
        <a href="/src/pages/contact">Rich Snapp</a>
      </footer>
    </div>
  </body>
</html>
